name: Event Sync

on:
  schedule:
    # Every Monday at 11:11 AM UTC
    - cron: '11 11 * * 1'
    # Every Thursday at 11:11 AM UTC
    - cron: '11 11 * * 4'
  workflow_dispatch:

jobs:
  sync-events:
    runs-on: carbonrunner-1vcpu-ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - name: Sync Events
        run: PYTHONPATH=. python src/scripts/sync_events.py
        env:
          API_URL: ${{ secrets.API_URL }}
          AUTH_EMAIL: ${{ secrets.AUTH_EMAIL }}
          AUTH_PASSWORD: ${{ secrets.AUTH_PASSWORD }}